.solution-card {
    border: solid 2px lightskyblue;
    cursor: pointer;
    padding: 15px;
    width: 200px;
    height: 100px;
    margin: 1em;
    font-size: 12px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif
}

div.isactive {
    border: solid 3px lightseagreen;
}