div {
    position: relative;
    vertical-align: top;
}

.error-message {
    color: red;
    font-style: italic;
}

.button-area {
    display: inline;
    button {
        margin-top: 20px;
        margin-right: 10px;
        width: 40px;
    }
}

.solution-config {
    display: block;
    position: relative;
    margin-top: 20px;
}